<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'unpublish', post_change_state_path(@post, event: :unpublish), method: :put %>
<%= link_to 'publish', post_change_state_path(@post, event: :publish), method: :put %>
<%= link_to 'delete', post_change_state_path(@post, event: :delete), method: :put %>
<br>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
